/* Body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("images/sketches-gradient-doodle-logo-wallpaper-preview.jpg"); /* Gradient background for the body */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Chat container styling */
#chat-container {
    width: 900px;
    height: 700px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

/* Chat box styling */
#chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    background-size: cover;
}

/* User input styling */
#user-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

#user-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

#user-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

#user-input button:hover {
    background-color: #0056b3;
}

.message-container {
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    background-color: #3e4348;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #25ca4c;
    color: #fff;
    align-self: flex-start;
}

.message-text {
    word-wrap: break-word;
}

/* Sidebar for threads */
#sidebar {
    width: 300px;
    background-color: rgba(206, 197, 197, 0.6); /* Semi-transparent background */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    overflow-y: auto;
    backdrop-filter: blur(1px); /* Frosted glass effect */
}

#thread-list {
    flex-grow: 1;
    overflow-y: auto;
}

/* Styling for conversation buttons */
.convo-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.convo-buttons button {
    flex: 1;
    padding: 10px;
    background-color: #169e5c;
    color: #fff;
    border: none;
    
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 5px;
}

.convo-buttons button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

/* Styling for auth buttons */
.auth-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-buttons button {
    flex: 1;
    padding: 10px;
    background-color: #13710c;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 5px;
}

.auth-buttons button:hover {
    background-color: #82d592;
    transform: scale(1.05);
}

.thread {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.thread:hover {
    background-color: #b2aeae;
}

.thread.selected {
    background-color: #007bff;
    color: #fff;
}
